/* Main View default is hidden but if the cart is open we will add .show to this class name*/
.cartMainView{
  height: 100%;
  top: 94px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 111;
  opacity: 0;
  visibility: hidden;
  position: fixed ;
  transition: all 1s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
}
.show{
  opacity: 1;
  visibility: visible;
}
/* Cart to control translateX 0 or 100 */
.cartTranslate{
  width: 20rem;
  height: 100%;
  right: 0;
  padding: 0rem 2rem 4rem 2rem;
  transform: translateX(100%);
  position: absolute;
  text-align: center;
  transition: transform 1s ease-in-out;
  background-color: #fff;
}
.cartTranslate_0{
  transform: translateX(0%);
}
/* Cart Header */
.cartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.closeIcon {
  cursor: pointer;
  font-size: 1rem;
}
/* Cart Content Div */
.cartContent{
  overflow-y: scroll;
  height: 65%;
}
/* remove scrollbar */
.cartContent::-webkit-scrollbar{
  display: none;
}
/* Cart Item */
.cartItem{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem 1rem .2rem 0rem;
}
/* Total DiV */
.totalWrapperDiv{
  font-size: 1.2rem;
  text-align: start;
  padding-top: .7rem;
}
/* Empty Cart Div */
.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  color: #727171;
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .cartTranslate{
    width: 50%;
  }
  .title {
    font-size: 2rem;
  }
  .emptyCart {
    font-size: 1.4rem;
  }
}
/* Extra small devices (phones, 768px and down) */
@media screen and (max-width: 768px) {
  .cartMainView{
    background: none;
  }
  .cartTranslate{
    width: 100%;
  }
  .title {
    font-size: 1.5rem;
  }
  .emptyCart {
    font-size: 1.2rem;
  }
  .closeIcon {
    font-size: 1.4rem;
  }
}
