/* Navigation compontent that appears in responsive view */
.navigation{
    height: 100%;
    width: 0%;
    overflow: hidden;
    z-index: 111;
    top: 4.7rem;
    left: 0;
    transition: 1s;
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.showNavigation{
    width: 100%;
}
.itemsWrapper{
    padding: 3rem 0;
}

.item{
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 1.5rem;
    text-align: center;
}

.logo{
    font-family: 'Lobster', cursive;
    font-size: x-large;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 7rem;
}