/***************************************************/
/*                       Navbar                    */
/***************************************************/
/* main nav */
.navbar {
  display: flex;
  position: sticky;
  z-index: 111;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  padding: 1rem 4rem;
}
/* Logo */
.logo {
  padding-left: 1rem;
  flex-grow: 3;
}

.logo h1 {
  font-family: "Lobster", cursive;
  font-size: xx-large;
}
/* Items */
.navbar_items {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar_items li {
  padding: 0.5rem 1rem;
}
.navbar_items li a {
  cursor: pointer;
}

/* Navbar Icons */
.nav_icons {
  display: flex;
  list-style: none;
  align-items: center;
  width: max-content;
  padding: 0 1rem;
}
.icon {
  font-size: 1.4rem;
  padding: 0 .5rem;
}
.icon:nth-child(1) {
  position: relative;
  cursor: pointer;
}
.icon:nth-child(2) {
  display: none;
}
/* Cart Number */
.spanNumber {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: 0px;
  background-color: #2266bb;
  color: #fff;
}
/* Extra small devices (phones, 768px and down) */
@media screen and (max-width: 768px) {
  .navbar{
    padding: 1.2rem 0;
  }
  .navbar_items {
    display: none;
  }
  .icon:nth-child(2) {
    display: block;
    cursor: pointer;
  }
}
