/* Product Details */
/* *********************************************** */
.productDetails {
    display: flex;
    margin: 3% 8%;
}
.productDiv {
    width: 50%;
}
.imageDiv {
    border: 1px solid #eaeaea;
    width: 70%;
    margin: 0 15%;
}

.details {
    width: 50%;
    text-transform: capitalize;
    font-size: 1.4rem;
}

.details span {
    font-size: medium;
    display: block;
    margin-top: 20px;
}

.details input {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #eaeaea;
    font-size: small;
}

.details p {
    font-size: medium;
    width: 60%;
    text-align: justify;
}

.addToCartBtn {
    background-color: black;
    color: #fff;
    width: 60%;
    margin-top: 1rem;
    padding: .5rem;
}
/* Medium devices (landscape tablets, 768px and up) */
@media  screen and (min-width: 768px) and (max-width: 992px){
    .productDiv {
        width: 50%;
    }
    .imageDiv {
        width: 90%;
        margin: 5%;
    }
    .details {
        width: 50%;
        font-size: 2rem;
    }
    .details p {
        font-size: large;
        width: 100%;
    }
    .details input {
        padding: 10px;
        font-size: large;
        width: 100px;
    }
    .addToCartBtn {
        width: 100%;
        margin-top: 1rem;
        padding: .5rem;
        font-size: large;
    }
}
/* Extra small devices (phones, 768px and down) */
@media  screen and (max-width: 768px) {
    .productDetails {
        display: block;
    }
    .productDiv {
        width: 100%;
    }
    .imageDiv {
        width: 90%;
        margin: 5%;
    }
    .details {
        width: 100%;
        font-size: 2rem;
    }
    .details p {
        font-size: large;
        width: 100%;
    }
    .details input {
        padding: 10px;
        font-size: large;
        width: 100px;
    }
    .addToCartBtn {
        width: 100%;
        margin-top: 1rem;
        padding: .5rem;
        font-size: large;
    }
}