/* Product Main Div */
.product {
    width: 30%;
    border: 1px solid #eaeaea;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
/* Product Image */
.productImage{
    cursor: pointer;
    transition: all .5s ease-out;
}
.productImage:hover{
    transform: scale(1.2);
    transition: all 1s ease-in-out;
}
/* Product Informations */
.informations{
    padding: 0 1.3rem;
}
/* InformationsHeader & InformationsFooter*/
.informationsHeader,.informationsFooter{
    display: flex;
    justify-content: space-between;
    padding: .3rem 0;
}
/* Title */
.informationsHeader_Title,.informationsFooter_price{
    text-transform: capitalize;
    font-weight: 400;
}
/* Cart Icon */
.informationsHeader_cartIcon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b5b3b3;
    cursor: pointer;
    transition: all .3s ease-out;
}
.informationsHeader_cartIcon:hover{
    background-color: #2266bb;
    color: #fff;
    transition: all .3s ease-in;
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .product {
        width: 46%;
    }
}
/* Extra small devices (phones, 768px and down) */
@media screen and (max-width: 768px) {
    .product {
        width: 96%;
    }
}