                /* Home Page */
/* *********************************************** */
.mainBanner{
  background-image: url("../public/assets/banners/girlBanner.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
.title{
  float: right;
  margin-right: 40px;
}
.title h1{
  margin: 0px;
  font-family: 'Lobster', cursive;
  font-size: 4.5rem;
}
/* pagination */
.paginationDiv{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;

}
.pagination{
  list-style: none;
  width: fit-content;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pagination li a{
  border: 1px solid #eaeaea;
  padding: 15px;
  display: inline-block;
  cursor: pointer;
}
.disabledPage{
  opacity: 0.3;
}
.activePage a{
  color: #fff;
  background-color: #000;
}
.products{
  display: block;
  width: 100%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media  screen and (min-width: 992px) and (max-width: 1200px) {
  .mainBanner{
    height: 70vh;
  }
  .title{
    margin-right: 40px;
  }
  .title h1{
    font-size: 3.5rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media  screen and (min-width: 768px) and (max-width: 992px){
  .mainBanner{
    height: 60vh;
  }
  .title{
    margin-right: 20px;
  }
  .title h1{
    font-size: 3.5rem;
  }
}
/* Extra small devices (phones, 768px and down) */
@media  screen and (max-width: 768px) {
  .mainBanner{
    height: 40vh;
  }
  .title{
    margin-right: 20px;
  }
  .title h1{
    font-size: 2rem;
  }
}
