                /* Home Page */
/* *********************************************** */
.mainBanner{
  background-image: url("../public/assets/banners/mainBanner.png");
  height: 70vh;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
.title{
  float: right;
  margin-right: 40px;
}
.title h1{
  margin: 0px;
  font-family: 'Lobster', cursive;
  font-size: 4.5rem;
}
/* .products{
  display: flex;
} */

/* Large devices (laptops/desktops, 992px and up) */
@media  screen and (min-width: 992px) and (max-width: 1200px) {
  .mainBanner{
    height: 70vh;
  }
  .title{
    margin-right: 40px;
  }
  .title h1{
    font-size: 3.5rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media  screen and (min-width: 768px) and (max-width: 992px){
  .mainBanner{
    height: 60vh;
  }
  .title{
    margin-right: 20px;
  }
  .title h1{
    font-size: 3.5rem;
  }
}
/* Extra small devices (phones, 768px and down) */
@media  screen and (max-width: 768px) {
  .mainBanner{
    height: 40vh;
  }
  .title{
    margin-right: 20px;
  }
  .title h1{
    font-size: 2rem;
  }
}
